<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <property name="log_path" value="${log_path_pre}/${app_name}" />
    <property name="log_pattern"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS} %thread uid:%X{userId} t:%X{traceId} %-5level %logger{36}:%line] %msg%n"/>
    <property name="log_pattern_color"
              value="[%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}) %blue(%thread) uid:%X{userId} t:%X{traceId} %highlight(%-5level) %green(%logger{36}):%line] %cyan(%msg%n)"/>

    <!-- Console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>${log_pattern_color}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- All logs -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/rpncalculator.log</file>
        <encoder>
            <pattern>${log_pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/rpncalculator.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- Error logs -->
    <appender name="ERROR-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/error.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${log_pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERROR-FILE"/>
    </root>
</configuration>